/sshd-shell-spring-boot-starter/target/
/sshd-shell-spring-boot-test-app/target/
/sshd-shell-spring-boot-test-app/hostKey.ser
/sshd-shell-spring-boot-starter/nbactions.xml
/sshd-shell-spring-boot-starter/nbproject/
/sshd-shell-spring-boot-starter/nb-configuration.xml
/sshd-shell-spring-boot-test-app/nb-configuration.xml